

body {
    background-image:url('icon/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1439px 851px;
    margin-top: 205px;

}



div.relative {
  position: relative;
  left: 255px;
  bottom: 800px;
}
