

#myDIV {
  color: red;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 2s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  50% {color: blue;}
}

@keyframes mymove {
  50% {color: blue;}
}
