

body {
    background-image:url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1439px 851px;
<<<<<<< HEAD
    margin-top: 1250px;

}


a {
text-decoration: none;
=======
    margin-top: 925px;
  
>>>>>>> 698727ede4f178840b804caa8eb5e3b0377baf5d
}
