

#myDIV {
  color: blue;
  animation: mymove 4s infinite;
}

@keyframes mymove {
  50% {color: green;}
}


.center {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}


a {
  text-decoration:none;
}
