

body {
    background-image:url('icon/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1439px 851px;
    margin-top: 850px;

}



div.abstract {
  position: relative;
  margin-left: 255px;
  margin-bottom: 805px;
}
