
.center {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}


.center2 {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}





a {
  text-decoration:none;
  color: green;
}
